{% extends 'base.html' %}

{% block page_title %}Расчет ЗП{% endblock %}

{% block page_content %}
<!-- Перед включением шаблона объявлять эти переменные, которые ожидает дочерний компонент -->
{% with message = 'Для формирования расчета необходимо выбрать дату' %}
{% include "notifications/notification.html" %}
{% endwith %}

<div class="block_filter">
    <p class="description first_desk">Расчет автоматизации ЗП</p>

    <form action="{{ url_for('list_doctors_salary') }}" method="get" class="input_block" id="form_data">
        <label for="" class="label_date">Выберите дату начала<br>
            <input type="date" class="input_and_select" id="date_start" name="date_begin" required>
        </label>
        <label for="" class="label_date">Выберите дату конца<br>
            <input type="date" class="input_and_select" id="date_end" name="date_end" required>
        </label>
        <br>
        <label for="" class="label_date">Выберите филиал <br>
            <select type="date" class="input_and_select" placeholder="Выберите филиал" id="filial" name="filial"
                required>
                <option value="" disabled>Выбор филиала</option>
                <option value="Барвиха">Барвиха</option>
                <option value="Курская">Курская</option>
            </select>
        </label>
        <button class="generate_button" id="generate_button" type="submit">Сформировать</button>
        <br>

    </form>
</div>

<div class="nodata">
    <p class="description" style="color: rgb(78, 78, 78); font-size: 25px;">Нет данных</p>
    <hr>
</div>



<div class="table_block" id="table_block">
    <!-- сюда вставляется salary_table -->
</div>


<script src="{{ url_for('static', filename='js/treatments.js') }}"></script>


{% endblock %}