


    <label for="staffName" class="label_date" style="width: 100%">ФИО<br>
        <input type="text" class="input_and_select" id="staffName" style="width: 100%"
            value="{{ salaries[0].staff.name }}" readonly>
    </label>
    <label for="roleName" class="label_date" style="width: 100%">Роль<br>
        <input type="text" class="input_and_select" id="roleName" style="width: 100%"
            value="{{ salaries[0].staff.role.name }}" readonly>
    </label>
    <br><br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for salary in salaries %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if salary.department.name == salaries[0].department.name %}active{% endif %}"
                id="{{ salary.department.name|replace(' ', '_') }}-tab" data-bs-toggle="tab"
                data-bs-target="#{{ salary.department.name|replace(' ', '_') }}" type="button" role="tab"
                aria-controls="{{ salary.department.name|replace(' ', '_') }}" {% if
                salary.department.name==salaries[0].department.name %} aria-selected="true" {% else %}
                aria-selected="false" {% endif %}>
                {{ salary.department.name }}
            </button>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="myTabContent">
        {% for salary in salaries %}

            <div class="tab-pane {% if salary.department.name == salaries[0].department.name %}active{% endif %}"
            id="{{ salary.department.name|replace(' ', '_') }}" role="tabpanel"
            aria-labelledby="{{ salary.department.name|replace(' ', '_') }}-tab">
        
            <label for="fixValue" class="label_date" style="width: 100%">Фикс. сотрудника <span class="salary_id" style="color: transparent;">{{ salary.id }}</span><br>
                <input type="text" class="input_and_select fix-value" style="width: 100%" value="{{ salary.fix }}">
            </label>
        
            <div class="grid_input">
                {% for grid in salary.grid %}
                <label class="label_date">% <span class="grid-id" style="color: transparent;">{{ grid.id }}</span><br>
                    <input type="text" class="input_and_select grid-percent"  value="{{ grid.percent }}">
                </label>
                {% endfor %}
            </div>
         
            <div class="grid_input">
                {% for grid in salary.grid %}
                <label class="label_date">Лимит <span class="grid-id" style="color: transparent;">{{ grid.id }}</span><br>
                    <input type="text" class="input_and_select grid-limit" value="{{ grid.limit }}">
                </label>
                {% endfor %}
            </div>
            <!-- <button class="btn btn-success save-button"
                style="margin-top: 7%; width: auto; float: right; padding: 1% 2%" onclick="test()">Сохранить</button>
            <br> -->
        </div>
        {% endfor %}
    </div>



<style>
    .grid_input {
        display: flex;
        justify-content: space-between;
        margin-top: 2%;

    }
</style>