
<p class="description">Зарплатная ведомость {{ date_begin }} - {{ date_end }}</p>
<hr>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Сотрудник</th>
                <th>Оборот</th>
                <th>ЗП</th>
                <th>Кол-во приемов</th>

            </tr>
        </thead>
        <tbody>
            {% for salary in doctors_report %}
            <tr>
                <td>{{ salary.staff.name }}</td>
                <!-- оборот -->
                <td>{{ salary.volume }}</td>
                <!-- зп -->
                <td>{{ salary.income }}</td>
                <!-- Кол-во приемов -->
                <td>{{ salary.treatments|count }}</td>
            </tr>
            {% endfor %}
            {% for salary in assistants_report %}
                <tr>
                    <td>{{ salary.staff.name }}</td>
                    <!-- оборот -->
                    <td>{{ salary.volume }}</td>
                    <!-- зп -->
                    <td>{{ salary.income }}</td>
                    <!-- Кол-во приемов -->
                    <td>{{ salary.schedule|count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



