<p class="description">
    Зарплатная ведомость {{ date_begin.strftime('%d.%m.%Y') }} - {{date_end.strftime('%d.%m.%Y') }}
    <br>
    Оборот за месяц: {{ '{0:,} ₽'.format(month_volume|round(2, 'ceil')).replace(',', ' ')}}
</p>
<hr>


<div style="overflow: auto; max-height: 80vh; margin-bottom: 2%">
    <table class="table table-bordered table-hover" id="DownloadMainTable">
        <thead>
        <tr class="table-secondary" style="position: sticky; top:-1px; z-index:3">
            <th>Сотрудник</th>
            <th>Оборот/Оклад</th>
            <th>ЗП</th>
            <th>Кол-во </th>
            <th>Премия</th>
            <th class="add" colspan="8"></th>
        </tr>
        </thead>
        <tbody>
        <tr style="background: #fae08b; color: #215968; text-align: left">
            <td style="text-align: left;">Врачи</td>
            <td >Руб.</td>
            <td >Руб.</td>
            <td >Приемы</td>
            <th>Руб.</th>
            <td colspan="8"></td>
        </tr>
        {% for salary in doctors_report |sort(attribute="staff.name")%}
            <tr>
                <td data-name-employee="{{ salary.staff.name }}" style="position: relative; white-space: nowrap">
                    <span data-name-employee="{{ salary.staff.name }}" class="toggle-span">
                        <div style="display: flex; justify-content: space-between">
                            {{ salary.staff.name }}
                            <img src="{{url_for('static', filename='img/down-arrow.png')}}" alt="">
                        </div>
                    </span>
                </td>
                <td style="white-space: nowrap;">
                    {{ '{0:,} ₽'.format(salary.volume).replace(',', ' ')}}
                </td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.income).replace(',', ' ') }}</td>
                <td>{{ salary.treatments|selectattr('markdown.is_history', 'false')|list|count }}</td>
                <td>{{ '{0:,} ₽'.format(salary.award).replace(',', ' ') }}</td>
                <td class="add" colspan="8"></td>
            </tr>
            <tr class="no_show table-primary" data-name-employee-no-show="{{ salary.staff.name }}"
                style="position: sticky; top:9vh; z-index:1">
                <th>Клиент</th>
                <th>Дата</th>
                <th>Департамент</th>
                <th>Услуга</th>
                <th>Код услуги</th>
                <th>Кол-во</th>
                <th>Цена без скидки</th>
                <th>Скидка</th>
                <th>Итого</th>
                <th>Зуб</th>
                <th>Расходники</th>
                <th>Техник</th>
                <th>Объем</th>
            </tr>
            {% for razbivka in salary.treatments %}
                <tr class="no_show attachment {{'isHistory' if  razbivka.markdown.is_history  }}" data-name-employee-no-show="{{ salary.staff.name }}"
       
                    data-isHistory="{{ razbivka.markdown.is_history }}">
                    <td>{{ razbivka.client }}</td>
                    <td>{{ razbivka.on_date.strftime('%d.%m.%Y') }}</td>
                    <td>{{ razbivka.department }}</td>
                    <td>{{ razbivka.service.name }}</td>
                    <td>{{ razbivka.service.code }}</td>
                    <td>{{razbivka.amount}}</td>
                    <td>{{'{0:,} ₽'.format(razbivka.cost_wo_discount).replace(',', ' ') }}</td>
                    <td style="white-space: nowrap;">{{'{0:,} ₽'.format(razbivka.discount).replace(',', ' ') }}</td>
                    <td style="white-space: nowrap;">{{'{0:,} ₽'.format(razbivka.cost ).replace(',', ' ') }}</td>
                    <td>{{ razbivka.tooth if razbivka.tooth else '—'}}</td>
                    <td>{{ razbivka.consumables.cost if razbivka.consumables else 0}}</td>
                    <td style="white-space: nowrap;">{{razbivka.technician.name if razbivka.technician else '—' }}</td>
                    <td style="white-space: nowrap;">{{'{0:,} ₽'.format(razbivka.markdown.volume).replace(',', ' ') }}</td>
                </tr>
            {% endfor %}
            {#margins by doctors#}
            <tr class="no_show attachment" style="background: #a7c9a7; color: white" data-name-employee-no-show="{{ salary.staff.name }}">
                <td>Итого</td>
                <td colspan="5"></td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|sum(attribute='cost_wo_discount')).replace(',', ' ') }}</td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|sum(attribute='discount')).replace(',', ' ') }}</td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|sum(attribute='cost')).replace(',', ' ') }}</td>
                <td></td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|selectattr('consumables')|sum(attribute='consumables.cost')).replace(',', ' ') }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        {#margins by all doctors#}
        <tr style="background: #a7c9a7; color: white; text-align: left">
            <td style="text-align: left;">Итого</td>
            <td>{{ '{0:,} ₽'.format(doctors_report|sum(attribute='volume')|round(2, 'floor')).replace(',', ' ') }}</td>
            <td>{{ '{0:,} ₽'.format(doctors_report|sum(attribute='income')|round(2, 'floor')).replace(',', ' ') }}</td>
            <td></td>
            <td colspan="9"></td>
        </tr>

        {# anesthetists #}
        <tr style="background: #fae08b; color: #215968; text-align: left">
            <td style="text-align: left;">Анестезиологи</td>
            <td >ч.</td>
            <td >Руб.</td>
            <td >Приемы</td>
            <th>Руб.</th>
            <td colspan="8"></td>
        </tr>
        {% for salary in anesthetists_report |sort(attribute="staff.name")%}
            <tr>
                <td data-name-employee="{{ salary.staff.name }}" style="position: relative; white-space: nowrap">
                    <span data-name-employee="{{ salary.staff.name }}" class="toggle-span">
                        <div style="display: flex; justify-content: space-between">
                            {{ salary.staff.name }}
                            <img src="{{url_for('static', filename='img/down-arrow.png')}}" alt="">
                        </div>
                    </span>
                </td>
                <td style="white-space: nowrap;">
                    {{ '{0:,}'.format(salary.volume).replace(',', ' ')}}
                </td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.income).replace(',', ' ') }}</td>
                <td>{{ salary.treatments|selectattr('markdown.is_history', 'false')|list|count }}</td>
                <td>{{ '{0:,} ₽'.format(salary.award).replace(',', ' ') }}</td>
                <td class="add" colspan="8"></td>
            </tr>
            <tr class="no_show table-primary" data-name-employee-no-show="{{ salary.staff.name }}"
                style="position: sticky; top:9vh; z-index:1">
                <th>Клиент</th>
                <th>Дата</th>
                <th>Департамент</th>
                <th>Услуга</th>
                <th>Код услуги</th>
                <th>Кол-во</th>
                <th>Цена без скидки</th>
                <th>Скидка</th>
                <th>Итого</th>
                <th>Зуб</th>
                <th>Расходники</th>
                <th>Техник</th>
                <th></th>
            </tr>
            {% for razbivka in salary.treatments %}
                <tr class="no_show attachment {{'isHistory' if  razbivka.markdown.is_history  }}" data-name-employee-no-show="{{ salary.staff.name }}"

                    data-isHistory="{{ razbivka.markdown.is_history }}">
                    <td>{{ razbivka.client }}</td>
                    <td>{{ razbivka.on_date.strftime('%d.%m.%Y') }}</td>
                    <td>{{ razbivka.department }}</td>
                    <td>{{ razbivka.service.name }}</td>
                    <td>{{ razbivka.service.code }}</td>
                    <td>{{razbivka.amount}}</td>
                    <td>{{'{0:,} ₽'.format(razbivka.cost_wo_discount).replace(',', ' ') }}</td>
                    <td style="white-space: nowrap;">{{'{0:,} ₽'.format(razbivka.discount).replace(',', ' ') }}</td>
                    <td style="white-space: nowrap;">{{'{0:,} ₽'.format(razbivka.cost ).replace(',', ' ') }}</td>
                    <td>{{ razbivka.tooth if razbivka.tooth else '—'}}</td>
                    <td>{{ razbivka.consumables.cost if razbivka.consumables else 0}}</td>
                    <td style="white-space: nowrap;">{{razbivka.technician.name if razbivka.technician else '—' }}</td>
                    <td style="white-space: nowrap;"></td>
                </tr>
            {% endfor %}
            {#margins by anesthetists#}
            <tr class="no_show attachment" style="background: #a7c9a7; color: white" data-name-employee-no-show="{{ salary.staff.name }}">
                <td>Итого</td>
                <td colspan="5"></td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|sum(attribute='cost_wo_discount')).replace(',', ' ') }}</td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|sum(attribute='discount')).replace(',', ' ') }}</td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|sum(attribute='cost')).replace(',', ' ') }}</td>
                <td></td>
                <td style="white-space: nowrap;">{{ '{0:,} ₽'.format(salary.treatments|selectattr('consumables')|sum(attribute='consumables.cost')).replace(',', ' ') }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        {#margins by all anesthetists#}
        <tr style="background: #a7c9a7; color: white; text-align: left">
            <td style="text-align: left;">Итого</td>
            <td>{{ '{0:,}'.format(anesthetists_report|sum(attribute='volume')|round(2, 'floor')).replace(',', ' ') }}</td>
            <td>{{ '{0:,}'.format(anesthetists_report|sum(attribute='income')|round(2, 'floor')).replace(',', ' ') }}</td>
            <td></td>
            <td colspan="9"></td>
        </tr>
        {# end comment #}

        {#assistants#}
        <tr style="background: #fae08b; color: #215968; text-align: left">
            <td style="text-align: left;">Ассистенты</td>
            <td>Дни</td>
            <td>Руб.</td>
            <td>Выходы</td>
            <th>Руб.</th>
            <td colspan="8"></td>
        </tr>

        {% for salary in assistants_report |sort(attribute="staff.name") %}
            <tr>
                <td data-name-employee="{{ salary.staff.name }}" style="position: relative; white-space: nowrap">
                    <span data-name-employee="{{ salary.staff.name }}" class="toggle-span">
                        <div style="display: flex; justify-content: space-between">
                            {{ salary.staff.name }}
                            <img src="{{url_for('static', filename='img/down-arrow.png')}}" alt="">
                        </div>
                    </span>
                </td>

                <td>{{ salary.volume }}</td>
                <td>{{ '{0:,} ₽'.format(salary.income).replace(',', ' ') }}</td>
                <td>{{ salary.schedule|count }}</td>
                <td>{{ '{0:,} ₽'.format(salary.award).replace(',', ' ') }}</td>
                <td class="add" colspan="8"></td>

            </tr>
            <tr class="no_show table-primary" data-name-employee-no-show="{{ salary.staff.name }}"
                style="position: sticky; top:9vh; z-index:1">
                <th>Дата</th>
                <th>Департамент</th>
                <th>Ставка</th>
                <th colspan="2">Надбавка</th>
            </tr>
            {% for razbivka_asisst in salary.schedule| sort(attribute="on_date") %}
                <tr class="no_show attachment" data-name-employee-no-show="{{ salary.staff.name }}">
                    <td>{{ razbivka_asisst.on_date.strftime('%d.%m.%Y') }}</td>
                    <td>{{ razbivka_asisst.department.name }}</td>
                    <td>{{ '{0:,} ₽'.format(salary.fix).replace(',', ' ') }}</td>
                    <td colspan="2">{{ razbivka_asisst.bonus }}</td>
                </tr>
            {% endfor %}
            {#margins by assistants#}
            <tr class="no_show attachment" style="background: #699b69; color: white" data-name-employee-no-show="{{ salary.staff.name }}">
                <td>Итого</td>
                <td colspan="2"></td>
                <td colspan="2">{{ '{0:,} ₽'.format(salary.schedule|sum(attribute='bonus')|round(2, 'floor')).replace(',', ' ') }}</td>
            </tr>
        {% endfor %}

        {#margins by all assistants#}
        <tr style="background: #a7c9a7; color: white; text-align: left">
            <td style="text-align: left;">Итого</td>
            <td></td>
            <td>{{ '{0:,} ₽'.format(assistants_report|sum(attribute='income')|round(2, 'floor')).replace(',', ' ') }}</td>
            <td></td>
            <td colspan="9"></td>
        </tr>

        {#administrators#}
        <tr style="background: #fae08b; color: #215968; text-align: left">
            <td style="text-align: left;">Администраторы</td>
            <td>Дни</td>
            <td>Руб.</td>
            <td>Выходы</td>
            <th>Руб.</th>
            <td colspan="8"></td>
        </tr>

        {% for salary in administrators_report |sort(attribute="staff.name") %}
            <tr>
                <td data-name-employee="{{ salary.staff.name }}" style="position: relative; white-space: nowrap">
                    <span data-name-employee="{{ salary.staff.name }}" class="toggle-span">
                        <div style="display: flex; justify-content: space-between">
                            {{ salary.staff.name }}
                            <img src="{{url_for('static', filename='img/down-arrow.png')}}" alt="">
                        </div>
                    </span>
                </td>

                <td>{{ salary.volume }}</td>
                <td>{{ '{0:,} ₽'.format(salary.income).replace(',', ' ') }}</td>
                <td>{{ salary.schedule|count }}</td>
                <td>{{ '{0:,} ₽'.format(salary.award).replace(',', ' ') }}</td>
                <td class="add" colspan="8"></td>

            </tr>
            <tr class="no_show table-primary" data-name-employee-no-show="{{ salary.staff.name }}"
                style="position: sticky; top:9vh; z-index:1">
                <th>Дата</th>
                <th>Департамент</th>
                <th>Ставка</th>
                <th colspan="2">Надбавка</th>
            </tr>
            {% for razbivka_asisst in salary.schedule| sort(attribute="on_date") %}
                <tr class="no_show attachment" data-name-employee-no-show="{{ salary.staff.name }}">
                    <td>{{ razbivka_asisst.on_date.strftime('%d.%m.%Y') }}</td>
                    <td>{{ razbivka_asisst.department.name }}</td>
                    <td>{{ '{0:,} ₽'.format(salary.fix).replace(',', ' ') }}</td>
                    <td colspan="2">{{ razbivka_asisst.bonus }}</td>
                </tr>
            {% endfor %}
            {#margins by administrator#}
            <tr class="no_show attachment" style="background: #699b69; color: white" data-name-employee-no-show="{{ salary.staff.name }}">
                <td>Итого</td>
                <td colspan="2"></td>
                <td colspan="2">{{ '{0:,} ₽'.format(salary.schedule|sum(attribute='bonus')|round(2, 'floor')).replace(',', ' ') }}</td>
            </tr>
        {% endfor %}

        {#margins by all administrators#}
        <tr style="background: #a7c9a7; color: white; text-align: left">
            <td style="text-align: left;">Итого</td>
            <td></td>
            <td>{{ '{0:,} ₽'.format(administrators_report|sum(attribute='income')|round(2, 'floor')).replace(',', ' ') }}</td>
            <td></td>
            <td colspan="9"></td>
        </tr>

        {#Прочие персонал#}
        {% for group, salary_reports in other_reports.items() %}
        <tr style="background: rgb(255, 246, 217); color: #215968; text-align: left">
            <td data-name-employee="{{ group }}" style="position: relative; white-space: nowrap">
                    <span data-name-employee="{{ group }}" class="toggle-span">
                        <div style="display: flex; justify-content: space-between">
                            {{ group }}
                            <img src="{{url_for('static', filename='img/down-arrow.png')}}" alt="">
                        </div>
                    </span>
                </td>
            <td>Руб.</td>
            <td>Руб.</td>
            <td></td>
            <th>Руб.</th>
            <td colspan="8"></td>
        </tr>
        {% for salary in salary_reports %}
            <tr class="no_show attachment" data-name-employee-no-show="{{ group }}">
                <td data-name-employee="{{ salary.staff.name }}" style="position: relative; white-space: nowrap">
                    <span data-name-employee="{{ salary.staff.name }}" class="toggle-span">
                        <div style="display: flex; justify-content: space-between">
                            {{ salary.staff.name }}
                        </div>
                    </span>
                </td>

                <td>{{ '{0:,} ₽'.format(salary.fix).replace(',', ' ') }}</td>
                <td>{{ '{0:,} ₽'.format(salary.income).replace(',', ' ') }}</td>
                <td>-</td>
                <td>{{ '{0:,} ₽'.format(salary.award).replace(',', ' ') }}</td>
                <td class="add" colspan="8"></td>
            </tr>
        {% endfor %}
            {#margins by group#}
            <tr style="background: rgb(147, 177, 147); color: white; text-align: left">
                <td style="text-align: left;">Итого</td>
                <td></td>
                <td>{{ '{0:,} ₽'.format(salary_reports|sum(attribute='income')|round(2, 'floor')).replace(',', ' ') }}</td>
                <td></td>
                <td colspan="9"></td>
            </tr>
        {% endfor %}

        {#margins by all staff#}
        <tr style="background: rgb(93, 121, 93); color: white; text-align: left; font-weight: bold; font-size: 22px">
            <td style="text-align: left;">Всего</td>
            <td></td>
            <td>{{ '{0:,} ₽'.format(total_income|round(2, 'floor')).replace(',', ' ') }}</td>
            <td></td>
            <td colspan="9"></td>
        </tr>
        </tbody>
    </table>
</div>