* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

:root {
    --FontSizeText: 16px;
    --DescriptionColor: #8E8E8E;
    --black: #212529;
}

.prompt {
    color: var(--DescriptionColor);
    padding: 3% 2%;
    font-size: 13px;
}

button,
button:active,
button:focus {
    cursor: pointer;
    border: none;
}

input,
select,
option {
    cursor: pointer;
    font-size: var(--FontSizeText);
}

.no_show,
.hidden-row {
    display: none;
}

.z-index2 {
    position: sticky;
    top: 4vh;
    z-index: 2;
    height: 100%
}

.block_filter {
    display: flex;
    justify-content: space-between;
}

.description {
    color: var(--DescriptionColor);
    font-size: 20px;
    margin: 5% 0 0 1%;
}

.total {
    color: var(--DescriptionColor);
    margin: 2% 0 0 1%;
    font-size: 16px;
}

.first_desk,
.first_desk {
    font-size: 16px;
}

.input_block {
    margin: 5% 1% 0 0;

}

.label_date {
    color: var(--DescriptionColor);
    font-size: var(--FontSizeText);
}

.input_and_select {
    position: relative;
    border-radius: 0.4rem;
    background-color: #efefef;
    border: #bdc3c7 0.1rem solid;
    width: 18rem;
    height: 3rem;
    padding: 0rem 1rem;
    font-size: 1.4rem;
    font-size: var(--FontSizeText)
}

.input-elevated {
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    width: 300px;
    padding: .5em 1em .5em 2.5em;
}

.input-elevated::placeholder {
    color: #838D99;
}

.input-elevated:focus {
    outline: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.select_consumables {
    text-decoration: none;
    outline: none;
    border-radius: 0.4rem;
    background-color: #efefef;
    border: #bdc3c7 0.1rem solid;
    padding: 0rem 1rem;
    font-size: 1rem;
    height: 2rem;
}

#ChangeService>input {
    width: 95%;
    height: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
}



.select_consumables:focus {
    border: none;
    text-decoration: none;
}

.input_and_select:focus {
    outline: none;
    border: #303030 0.1rem solid;
}

.generate_button {
    border-radius: 0.4rem;
    background-color: var(--black);
    color: white;
    text-align: center;
    padding: 0rem 1rem;
    height: 3rem;
    width: max(16rem, 100%);
    margin-top: 2%;
    font-size: var(--FontSizeText);
}

.sync_button {
    border-radius: 0.4rem;
    background-color: rgb(93, 121, 93);
    color: white;
    text-align: center;
    padding: 0rem 1rem;
    height: 3rem;
    width: max(16rem, 100%);
    margin-top: 2%;
    font-size: var(--FontSizeText);
    margin-top: 4%;
}

.sync_button:hover {
    background-color: rgb(71, 94, 71);

}

.export_button {
    border-radius: 0.4rem;
    background-color: rgb(63, 119, 159);
    color: white;
    text-align: center;
    padding: 0rem 1rem;
    height: 3rem;
    width: max(16rem, 100%);
    margin-top: 2%;
    font-size: var(--FontSizeText);
    margin-top: 4%;
}

.export_button:hover {
    background-color: rgb(3, 86, 105);

}

.Action {
    border: none;
    background-color: transparent;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: #32327a;
}

.Action:hover {
    font-weight: bold;
}

.generate_button:hover {
    background: #363636;
}




.table_block {
    width: 98%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 2%;
    overflow: auto;
    /* min-height: 50vh; */
}

td>textarea {
    width: 100%;
    height: 100%;
    padding: 2%;
    border: lightgrey;
}

th {
    text-align: center;
    white-space: nowrap;
    /* position: sticky;
    top: -1px;
    z-index: 1; */

}

tr {
    cursor: pointer;
}

td:not(:nth-child(1)) {
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}


.active {
    border-bottom: 2px solid #e4e4e4;
}


.show {
    margin: 0 !important;
}




/* Сотрудники */
.block_data {
    height: 100vh;
    display: flex;
    width: 98%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-between;

}

.block_data__change,
.block_data__add {
    /* display: flex;
    justify-content: center; */
    width: 45vw;
    margin-top: 2%;
    border-radius: 28px;
    background: #ffffff;
    box-shadow: 11px 11px 22px #d9d9d9,
        -11px -11px 22px #ffffff;
    margin-bottom: 5%;
    position: relative;
}

.block_data__change__archieve {
    width: 95vw;
    margin-top: 2%;
    border-radius: 28px;
    background: #ffffff;
    box-shadow: 11px 11px 22px #d9d9d9,
        -11px -11px 22px #ffffff;
    margin-bottom: 5%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0)
}

.block_data__change {
    max-height: 90vh;
}

.block_data__add {
    max-height: 90vh;
}

.block_data__add__content {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 2%;


}

.block_data__add__content {
    display: flex;
    /* Размещаем элементы в строку */
    justify-content: space-between;
    /* Равномерно распределяем пространство между элементами */
    align-items: center;
    /* Выравниваем элементы по вертикали по центру */

}

/* Убираем внешние отступы у элементов */
.block_data__add__content select,
.block_data__add__content input {
    margin: 0;
}

/* Устанавливаем общий размер для всех элементов */
.block_data__add__content select,
.block_data__add__content input {
    width: 90%;
}

/* 
.block_data__add__content select {
    max-width: 300px;
}

.block_data__add__content option {
    width: 200px !important;
} */

.block_data__change__content>table {
    padding: 5%;
}

.block_data__change__content_header {
    display: flex;
    justify-content: space-between;
}

.block_data__change__content_header>p {
    color: var(--DescriptionColor);
    font-size: 20px;
    margin: 5% 0 0 1%;
}

.btn_none {
    background: rgba(255, 255, 255, 0);
    border: none;
    width: auto;
    height: auto;
    margin: 5% 2% 0 0;
}

#refreshData {
    transition: all 0.5s linear;
}

#refreshDataBonus {
    transition: all 0.5s linear;
}

#showChange {
    transition: all 0.2s linear;
}

#showChange.transform {
    transform: rotate(180deg);
}

#showChange {
    display: none;
}

#refreshData.transform {
    transform: rotate(360deg);
}

#refreshDataBonus.transform {
    transform: rotate(360deg);
}

/* ячейки одного размера */
.table-staff {
    width: 100%;

    table-layout: fixed;
}

.selectPriceCost {
    border: 1px solid #969696;
    border-radius: 3px;
    padding: 2px 20px 2px 8px;

}

.selectPriceCost:focus {
    outline: none;
    border: 2px solid #969696;
}


/* Конец сотрудники */



.sticks {
    position: sticky;
    top: -1px;
    z-index: 1;
    background: #E2E3E5;
}

.current_doc {
    background: rgb(211, 248, 211);
    font-weight: 800;
}

.attachment {
    background: rgb(247, 247, 247);
    border: 1px solid grey;
}



/* АНИМАЦИИ */

.rotaed {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}



.isHistory {
    background: lightsalmon;
}

.success {
    animation: change_back 0.8s linear;
}

@keyframes change_back {
    0% {
        background: none;
    }

    50% {
        background: lightgreen;
    }

    100% {
        background: none;
    }
}

.error {
    animation: change_back_error 0.8s linear;
}

@keyframes change_back_error {
    0% {
        background: none;
    }

    50% {
        background: rgb(201, 23, 23);
    }

    100% {
        background: none;
    }
}

/* Конец анимации */












/* МЕДИА ЗАПРОСЫ */

@media screen and (max-width: 1025px) {
    .description {
        display: none;
    }

    #showChange {
        display: block;
    }

    .input_block {
        width: 80%;
        margin: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 5%;
    }

    .input_and_select {
        min-width: 100%;
        width: 100%;
        border-radius: 0.4rem;
        background-color: #efefef;
        border: #bdc3c7 0.1rem solid;
        /* width: 18rem; */
        height: 3rem;
        /* width: 50%; */
        padding: 0rem 1rem;
        font-size: var(--FontSizeText)
    }

    .logo_img {
        width: 100%;
        height: 80%;
    }

    a.navbar-brand {
        width: 50%;
        height: 80%;
    }

    /* Сотрудники MEDIA*/
    .block_data {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 96vw;
        margin-top: calc(30vh + 30%);
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .block_data__change,
    .block_data__add {
        /* background: red; */
        width: 100%;
        max-height: 80vh;
        /* border-radius: 28px; */
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        background: #ffffff;
        box-shadow: 5px 5px 11px #d9d9d9,
            -5px -5px 11px #ffffff;
        margin-bottom: 5%;
        display: flex;
        position: relative;
    }

    .block_data__add {
        height: 95vh;
        max-height: 100vh;
    }

    .block_data__add__content {
        display: flex;
        flex-direction: column;
    }

    .block_data__change__content {
        width: 100%;
    }

    .block_data__change__content_header>p {
        color: var(--DescriptionColor);
        font-size: 16px;
        margin: 5% 0 0 1%;
    }

    .block_data__add__content select,
    .block_data__add__content input {
        width: 97%;
    }

    .table-staff {
        table-layout: auto;
        margin-top: 1%;
    }

    td {
        font-size: 14px;
        white-space: wrap;
    }


}





/* КАСТОМНЫЕ БЛОКИ */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

#serviceSearch {
    width: 100%;
    padding: 5px;
}

.select-items {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.select-items select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.select-items option {
    padding: 10px;
}