<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="position:absolute; left: -1%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height: auto !important;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background: white;">
                <span class="name_staff"></span>
                <div id="test">
                    <!-- компонент salary -->
                </div>


                <br>
                
            </div>


            <div class="modal-footer" style="background: white;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn  btn-success save-button" onclick="CreateSalaryCurrentEmployee()">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>


<style>
    #test{
        margin-top: 2%;
    }
    button {
        cursor: pointer;
    }
</style>