<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="position:absolute; left: -1%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="test">
                    <!-- компонент salary -->
                </div>


                <br>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>

<script>

    const modalTitleValue = element.getAttribute('data-name-modal');
    const modalTitleElement = document.querySelector('.modal-title');
    modalTitleElement.textContent = modalTitleValue;
</script>
<style>
    button {
        cursor: pointer;
    }
</style>